body {
    overflow: scroll;
}

.frase {
    height: 100px;
    padding: 15px;
    /* background-image: url("../img/spinner.gif"); */
    background-repeat: no-repeat;
    background-position: center center;
    /* background-image: none; */
}

.text-area {
    height: 100px;
    border: 1px solid #ddd;
}

.text-area-desabilitado {
    background-color: #F8F8F8;
}

.icones {
    vertical-align: middle;
}

ul li{
    display: inline-block;
    padding-right: 16px;
    font-size: 20px;
}

.text-area-correto {
    border: 2px solid #39ff14;
}

.text-area-errado {
    border: 2px solid #ff1439;
}

.score {
    display: none;
}